.mat-sidenav-content{
    background: #0074D9;

    
    a{
        color: white;
        text-decoration: none;

        &:hover, &:active{
            color: #FFDC00;
        }
    }
    
    .mat-toolbar.mat-primary{
        background: #0074D9;
        max-width: 1170px;
        margin: auto;
        width: 100%;
    }

    ul{
        li{
            list-style-type: none;

        }
    }
    .material-icons{
        font-size: 14px;
        padding: 0px 5px 0 0;
        position: relative;
        top: 2px;
      }
      
}